@using SoccerCoach.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <h1 class="display-3">Soccer Coach</h1>
    <div>
    <span class="display-4 text-break text-">
        Welcome to Soccer Coach.
         </span>
       </div>
    </div>
    <hr />
    <div class="jumbotron jumbotron-fluid greenbackground">
        <div class="container">
            <h1 class="display-4 text-center">About us</h1>
            <p class="lead font-weight-normal">
               Are you new to soccer, trying to improve yourself and improve your skills? You've come to the right place. Our website provides variety of workouts depending on which position you want to look into and get better at, coaches who've worked with Pro Footballers are waiting for you. Our coaches provide monthly courses and seasonal camps. 
            </p>
        </div>
        </div>
         <hr />
    <div class="container">
        <h2 class="display-4 text-center">Soccer positions</h2>
        <img src="https://themastermindsite.files.wordpress.com/2018/09/2-3-1-7v7-formation.jpg" class="img-home" alt="Alternate Text" />
    </div> 