@using SoccerCoach.Common
@{
    this.ViewData["Title"] = "Striker";
}
@using SoccerCoach.Data.Models.Enums
@model SoccerCoach.Web.Controllers.PlayerViewModel

<div style="display: inline-flex">
    <div class="p-2 bg-info" style="font-size-adjust">Hi hello there there. Hi i am helos.Hi hello there there. Hi i am helos.Hi hello there there. Hi i am helos.Hi hello there there. Hi i am helos.Hi hello there there. Hi i am helos.Hi hello there there. Hi i am helos.Hi hello there there. Hi i am helos.Hi hello there there. Hi i am helos.Hi hello there there. Hi i am helos.Hi hello there there. Hi i am helos.</div>
    <div class="p-2 bg-info">
        <img src="@Model.ImageUrl" style="max-height: 250px; margin-bottom:-8px;">
    </div>
    <div class="p-2 bg-info" style="font-size-adjust">Hi hello there there. Hi i am helos.Hi hello there there. Hi i am helos.Hi hello there there. Hi i am helos.Hi hello there there. Hi i am helos.Hi hello there there. Hi i am helos.Hi hello there there. Hi i am helos.Hi hello there there. Hi i am helos.Hi hello there there. Hi i am helos.Hi hello there there. Hi i am helos.Hi hello there there. Hi i am helos.Hi i am helos.Hi hello there there. Hi i am helos.</div>
</div>